<main>
    <div style="display: flex;align-items: center;justify-content: space-between;"><h1>{{filter}} </h1><i class="pi pi-plus" (click)="add()"></i></div>
    <div>
      <section *ngFor="let t of tasks">
        <p>
          <span *ngIf="t.isCompleted == false" class="pi pi-stop" (click)="check(t.id)"></span> <span *ngIf="t.isCompleted == true" class="pi pi-check-square" (click)="check(t.id)"></span>
          {{t.content}}
          <br/>
          <i class="pi pi-calendar"></i>{{t.date | date: 'dd-MM-yy '}}
        </p>
        <p>
          <i class="pi pi-pencil"></i> <i class="pi pi-trash"></i>
        </p>
      </section>
    </div>
</main>

<p-dialog  [(visible)]="addFlag" [modal]="true" [style]="{ 'width': '450px'}" >
  <p-header><div style="color:#8062D6;">Add Task Form</div></p-header>
  <ng-template pTemplate="content">
   <div><app-add-task></app-add-task></div>
  </ng-template>
</p-dialog>

<p-dialog header="Add Task" [(visible)]="updateFlag" [modal]="true"  [style]="{ width: '450px'}" >
  <app-add-task></app-add-task>
</p-dialog>
