<main>
    <div style="display: flex;align-items: center;justify-content: space-between;"><h1>{{filter}} </h1><i class="pi pi-plus" (click)="add(true)"></i></div>
    <div>
      <section *ngFor="let t of tasks">
        <aside>
          <span *ngIf="t.isCompleted == false" class="pi pi-stop" (click)="check(t.id)"></span> <span *ngIf="t.isCompleted == true" class="pi pi-check-square" (click)="check(t.id)"></span>
          {{t.content}}
          <br/>
          <p *ngIf="t.dueDate"><i class="pi pi-calendar"></i>{{t.dueDate | date: 'dd-MM-yy '}}</p>
        </aside>

        <aside>
          <i class="pi pi-pencil" (click)="update(t.id,true)"></i> <i class="pi pi-trash" (click)="delete(t.id)"></i>
        </aside>
      </section>
    </div>
</main>

<p-dialog  [(visible)]="addFlag" [modal]="true" [style]="{ 'width': '450px'}" >
  <p-header><div style="color:#8062D6;">Add Task Form</div></p-header>
  <ng-template pTemplate="content">
   <div><app-add-task (close)="add($event)"></app-add-task></div>
  </ng-template>
</p-dialog>

<p-dialog  [(visible)]="updateFlag" [modal]="true" [style]="{ 'width': '450px'}" >
  <p-header><div style="color:#8062D6;">Update Task Form</div></p-header>
  <ng-template pTemplate="content">
   <div><app-update-task [id]="id" (close)="update(0,$event)"></app-update-task></div>
  </ng-template>
</p-dialog>
